@import 'variables';
@import 'mixins';

html {
  @include box-sizing(border-box);
}

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
  background-color: $black;
  font-family: $principalFonts;
  color: $blueGray;

  @include tablet {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom cover;
  }
}

a {
  color: $blueGray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem;
}

.container {
  width: 97%;
  margin: 0 auto;

  .board {
    border-spacing: 0px !important;
    overflow-x: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
}

.alert {
  color: $secundary;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
}

input.invalid {
  border-bottom: 3px solid $secundary !important;
}

.logo {
  max-width: 180px;

  @include tablet {
    margin-left: 2%;
  }
}

.form-login {
  @include tablet {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 535px;
    padding: 2rem 4rem;
    margin: 1rem auto 4rem auto;
  }
}

section {
  legend {
    color: $white;
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: bold;
  }

  .field {
    display: flex;
    position: relative;
    margin-bottom: 0.8rem;

    label {
      position: absolute;
      color: $lightGray;
      top: 1.1rem;
      left: 1rem;
      font-size: 0.9rem;
      transition: font-size 0.2s ease, top 0.2s ease;

      &.valid {
        font-size: 0.6rem;
        top: 0.5rem;
      }
    }

    input {
      flex: 1;
      padding: 1.3rem 1rem 0.7rem 1rem;
      border: none;
      background-color: $gray;
      border-radius: $radius;
      color: $white;

      &:focus {
        background-color: $blueGray;
        outline: none;

        + label {
          font-size: 0.6rem;
          top: 0.5rem;
        }
      }
    }
  }

  .player-fields {
    display: flex;
    position: relative;
    margin-bottom: 0.8rem;

    .player-one-label {
      position: absolute;
      color: $lightGray;
      top: 1.1rem;
      left: 1rem;
      font-size: 0.9rem;
      transition: font-size 0.2s ease, top 0.2s ease;

      &.valid {
        font-size: 0.6rem;
        top: 0.5rem;
      }
    }

    .player-one-input {
      flex: 1;
      padding: 1.3rem 1rem 0.7rem 1rem;
      border: none;
      background-color: $gray;
      border-radius: $radius;
      color: $white;
      margin-right: 0.5rem;

      &:focus {
        background-color: $blueGray;
        outline: none;

        + label {
          font-size: 0.6rem;
          top: 0.5rem;
        }
      }
    }


    .player-two-label {
      position: absolute;
      color: $lightGray;
      top: 1.1rem;
      left: 14rem;
      font-size: 0.9rem;
      transition: font-size 0.2s ease, top 0.2s ease;

      &.valid {
        font-size: 0.6rem;
        top: 0.5rem;
      }
    }

    .player-two-input {
      flex: 1;
      padding: 1.3rem 1rem 0.7rem 1rem;
      border: none;
      background-color: $gray;
      border-radius: $radius;
      color: $white;

      &:focus {
        background-color: $blueGray;
        outline: none;

        + label {
          font-size: 0.6rem;
          top: 0.5rem;
          left: 14rem;
        }
      }
    }
  }

  .turn {
    text-align: center;
    color: #c58d0c;
  }

  .submit {
    display: flex;
    margin-top: 2rem;

    input[type='submit'] {
      @include button($primary, $white);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .options-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;

    .list-button {
      background-color: $primary;
      color: $white;
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: $radius;
      font-size: 0.8rem;
      padding: 1rem 0;
      margin: 0.5rem;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin: 0.5rem 0 1.5rem 0;

    label,
    a {
      font-size: 0.8rem;
      text-decoration: none;
      color: $lightGray;
    }
  }
}

form {
  legend {
    color: $white;
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: bold;
  }

  .list-button {
    background-color: $primary;
    color: $white;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: $radius;
    font-size: 0.8rem;
    padding: 1rem 0;
    margin: 0.5rem;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .field {
    display: flex;
    position: relative;
    margin-bottom: 0.8rem;

    label {
      position: absolute;
      color: $lightGray;
      top: 1.1rem;
      left: 1rem;
      font-size: 0.9rem;
      transition: font-size 0.2s ease, top 0.2s ease;

      &.valid {
        font-size: 0.6rem;
        top: 0.5rem;
      }
    }

    input {
      flex: 1;
      padding: 1.3rem 1rem 0.7rem 1rem;
      border: none;
      background-color: $gray;
      border-radius: $radius;
      color: $white;

      &:focus {
        background-color: $blueGray;
        outline: none;

        + label {
          font-size: 0.6rem;
          top: 0.5rem;
        }
      }
    }

    textarea {
      overflow: auto;
      flex: 1;
      padding: 1.3rem 1rem 0.7rem 1rem;
      border: none;
      background-color: $blueGray;
      border-radius: 5px;
      color: $white;

      &:focus {
        background-color: $blueGray;
        outline: none;

        + label {
          font-size: 0.6rem;
          top: 0.5rem;
        }
      }
    }
  }

  .submit {
    display: flex;
    margin-top: 2rem;

    input[type='submit'] {
      @include button($primary, $white);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .options-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;

    .list-button {
      background-color: $primary;
      color: $white;
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: $radius;
      font-size: 0.8rem;
      padding: 1rem 0;
      margin: 0.5rem;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin: 0.5rem 0 1.5rem 0;

    label,
    a {
      font-size: 0.8rem;
      text-decoration: none;
      color: $lightGray;
    }
  }
}

.bottom-content {
  padding-bottom: 1rem;

  @include tablet {
    padding-bottom: 0;
  }

  a {
    font-size: 0.8rem;
  }

  .new-user {
    color: $lightGray;
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;

    a {
      color: $lightGray;
      font-size: 1rem;
    }
  }
}

.site-footer {
  border-top: 1px solid $lightGray;
  padding: 2rem 0 4rem 0;

  @include tablet {
    border-top: unset;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 0 1.5rem 0;
  }

  .container {
    @include tablet {
      max-width: 50%;
    }
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include desktop {
      max-width: 50%;
    }

    a {
      flex: 0 0 auto;
      font-size: 0.8rem;
      margin-right: 2rem;
      padding: 0.5rem 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  select {
    appearance: none;
    padding: 0.7rem 3rem;
    border: 1px solid $lightGray;
    border-radius: $radius;
    font-size: 0.8rem;
    background-color: $black;
    color: $lightGray;
  }
}

h3 {
  text-decoration: underline;
}

hr {
  position: absolute;
  left: 0px;
  width: 440px;
}

#moveBlancas {
  position: absolute;
  left: 500px;
  top: 120px;
  width: 200px;
}

#moveNegras {
  position: absolute;
  left: 700px;
  top: 120px;
  width: 200px;
}
