@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    background-color: $black;
    font-family: $principalFonts;
    color: $blueGray;

    @include tablet {
        background-color: unset;
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom cover;
    }
}

a {
    color: $blueGray;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 90%;
    margin: 0 auto;

    .board {
        border-spacing: 0px !important;
        overflow-x: auto;
        display: flex;
        position: relative;
        flex-wrap: wrap;

        .item-black {
            width: 60px;
            height: 60px;
            background-color: black;
            background: linear-gradient(#333333, #222222);
        }

        .item-white {
            width: 60px;
            height: 60px;
            background-color: white;
            background: linear-gradient(#ffffff, #eeeeee);
        }

        .red-piece {
            width: 100%;
            height: 100%;
            background-image: url(../img/PieceRed.png);
        }

        .white-piece {
            width: 100%;
            height: 100%;
            background-image: url(../img/PieceWhite.png);
        }
    }

}

.alert {
    color: $secundary;
    display: block;
    margin-bottom: .5rem;
    padding: .2rem;
    font-size: .8rem;
    text-align: center;
}

input.invalid {
    border-bottom: 3px solid $secundary !important;
}

.logo {
    margin-top: .5rem;
    max-width: 180px;

    @include tablet {
        margin-top: .8rem;
        margin-left: 2%;
    }
}

.form-login {
    @include tablet {
        background-color: rgba(0, 0, 0, 0.85);
        max-width: 636px;
        padding: 2rem 4rem;
        margin: 1rem auto 4rem auto;
    }
}

section {
    legend {
        color: $white;
        font-size: 2rem;
        margin: 2rem 0;
        font-weight: bold;
    }

    .field {
        display: flex;
        position: relative;
        margin-bottom: .8rem;

        label {
            position: absolute;
            color: $lightGray;
            top: 1.1rem;
            left: 1rem;
            font-size: .9rem;
            transition: font-size .2s ease, top .2s ease;

            &.valid {
                font-size: .6rem;
                top: .5rem;
            }
        }

        input {
            flex: 1;
            padding: 1.3rem 1rem .7rem 1rem;
            border: none;
            background-color: $gray;
            border-radius: $radius;
            color: $white;

            &:focus {
                background-color: $blueGray;
                outline: none;

                +label {
                    font-size: .6rem;
                    top: .5rem;
                }
            }
        }
    }

    .submit {
        display: flex;
        margin-top: 2rem;
        
        input[type="submit"] {
            @include button($primary, $white);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        margin: .5rem 0 1.5rem 0;

        label,
        a {
            font-size: .8rem;
            text-decoration: none;
            color: $lightGray;
        }
    }
}

form {
    legend {
        color: $white;
        font-size: 2rem;
        margin: 2rem 0;
        font-weight: bold;
    }

    .field {
        display: flex;
        position: relative;
        margin-bottom: .8rem;

        label {
            position: absolute;
            color: $lightGray;
            top: 1.1rem;
            left: 1rem;
            font-size: .9rem;
            transition: font-size .2s ease, top .2s ease;

            &.valid {
                font-size: .6rem;
                top: .5rem;
            }
        }

        input {
            flex: 1;
            padding: 1.3rem 1rem .7rem 1rem;
            border: none;
            background-color: $gray;
            border-radius: $radius;
            color: $white;

            &:focus {
                background-color: $blueGray;
                outline: none;

                +label {
                    font-size: .6rem;
                    top: .5rem;
                }
            }
        }
    }

    .submit {
        display: flex;
        margin-top: 2rem;

        input[type="submit"] {
            @include button($primary, $white);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        margin: .5rem 0 1.5rem 0;

        label,
        a {
            font-size: .8rem;
            text-decoration: none;
            color: $lightGray;
        }
    }
}

.bottom-content {
    padding-bottom: 1rem;

    @include tablet {
        padding-bottom: 0;
    }

    a {
        font-size: .8rem;
    }

    .new-user {
        color: $lightGray;
        font-size: 1rem;
        margin-top: 1rem;
        display: flex;

        a {
            margin-left: .5rem;
            color: $lightGray;
            font-size: 1rem;
        }
    }
}

.site-footer {
    border-top: 1px solid $lightGray;
    padding: 2rem 0 4rem 0;

    @include tablet {
        border-top: unset;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 1rem 0 1.5rem 0;
    }

    .container {
        @include tablet {
            max-width: 50%;
        }
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include desktop {
            max-width: 50%;
        }

        a {
            flex: 0 0 auto;
            font-size: .8rem;
            margin-right: 2rem;
            padding: .5rem 0;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    select {
        appearance: none;
        padding: .7rem 3rem;
        border: 1px solid $lightGray;
        border-radius: $radius;
        font-size: .8rem;
        background-color: $black;
        color: $lightGray;
    }
}