html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #454545;
}

@media (min-width: 768px) {
  body {
    background-color: unset;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom cover;
  }
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container .board {
  border: 3px solid gray;
  border-spacing: 0px !important;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container .board .item-black {
  width: 60px;
  height: 60px;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background: linear-gradient(#333333, #222222);
}

.container .board .item-white {
  width: 60px;
  height: 60px;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: linear-gradient(#ffffff, #eeeeee);
}

.container .board .red-piece {
  width: 100%;
  height: 100%;
  background-image: url(../img/PieceRed.png);
}

.container .board .white-piece {
  width: 100%;
  height: 100%;
  background-image: url(../img/PieceWhite.png);
}

.alert {
  color: #E87C03;
  display: block;
  margin-bottom: .5rem;
  padding: .2rem;
  font-size: .8rem;
  text-align: center;
}

input.invalid {
  border-bottom: 3px solid #E87C03 !important;
}

.logo {
  margin-top: .5rem;
  max-width: 180px;
}

@media (min-width: 768px) {
  .logo {
    margin-top: .8rem;
    margin-left: 2%;
  }
}

@media (min-width: 768px) {
  .form-login {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 636px;
    padding: 2rem 4rem;
    margin: 1rem auto 4rem auto;
  }
}

section legend {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}

section .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: .8rem;
}

section .field label {
  position: absolute;
  color: #8c8c8c;
  top: 1.1rem;
  left: 1rem;
  font-size: .9rem;
  -webkit-transition: font-size .2s ease, top .2s ease;
  transition: font-size .2s ease, top .2s ease;
}

section .field label.valid {
  font-size: .6rem;
  top: .5rem;
}

section .field input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem .7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #ffffff;
}

section .field input:focus {
  background-color: #454545;
  outline: none;
}

section .field input:focus + label {
  font-size: .6rem;
  top: .5rem;
}

section .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

section .submit input[type="submit"] {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  padding: 1rem 0;
}

section .submit input[type="submit"]:hover {
  cursor: pointer;
}

section .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 0;
  margin: .5rem 0 1.5rem 0;
}

section .actions label,
section .actions a {
  font-size: .8rem;
  text-decoration: none;
  color: #8c8c8c;
}

form legend {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}

form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: .8rem;
}

form .field label {
  position: absolute;
  color: #8c8c8c;
  top: 1.1rem;
  left: 1rem;
  font-size: .9rem;
  -webkit-transition: font-size .2s ease, top .2s ease;
  transition: font-size .2s ease, top .2s ease;
}

form .field label.valid {
  font-size: .6rem;
  top: .5rem;
}

form .field input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem .7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #ffffff;
}

form .field input:focus {
  background-color: #454545;
  outline: none;
}

form .field input:focus + label {
  font-size: .6rem;
  top: .5rem;
}

form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

form .submit input[type="submit"] {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  padding: 1rem 0;
}

form .submit input[type="submit"]:hover {
  cursor: pointer;
}

form .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 0;
  margin: .5rem 0 1.5rem 0;
}

form .actions label,
form .actions a {
  font-size: .8rem;
  text-decoration: none;
  color: #8c8c8c;
}

.bottom-content {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .bottom-content {
    padding-bottom: 0;
  }
}

.bottom-content a {
  font-size: .8rem;
}

.bottom-content .new-user {
  color: #8c8c8c;
  font-size: 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-content .new-user a {
  margin-left: .5rem;
  color: #8c8c8c;
  font-size: 1rem;
}

.site-footer {
  border-top: 1px solid #8c8c8c;
  padding: 2rem 0 4rem 0;
}

@media (min-width: 768px) {
  .site-footer {
    border-top: unset;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 0 1.5rem 0;
  }
}

@media (min-width: 768px) {
  .site-footer .container {
    max-width: 50%;
  }
}

.site-footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .site-footer .footer-menu {
    max-width: 50%;
  }
}

.site-footer .footer-menu a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: .8rem;
  margin-right: 2rem;
  padding: .5rem 0;
}

.site-footer .footer-menu a:last-of-type {
  margin-right: 0;
}

.site-footer select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .7rem 3rem;
  border: 1px solid #8c8c8c;
  border-radius: 5px;
  font-size: .8rem;
  background-color: #000000;
  color: #8c8c8c;
}
