html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #454545;
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom cover;
  }
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem;
}

.container {
  width: 97%;
  margin: 0 auto;
}

.container .board {
  border-spacing: 0px !important;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.alert {
  color: #E87C03;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
}

input.invalid {
  border-bottom: 3px solid #E87C03 !important;
}

textarea.invalid {
  border-bottom: 3px solid #E87C03 !important;
}

.logo {
  max-width: 180px;
}

@media (min-width: 768px) {
  .logo {
    margin-left: 2%;
  }
}

@media (min-width: 768px) {
  .form-login {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 535px;
    padding: 2rem 4rem;
    margin: 1rem auto 4rem auto;
  }
}

section legend {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}

section .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 0.8rem;
}

section .field label {
  position: absolute;
  color: #8c8c8c;
  top: 1.1rem;
  left: 1rem;
  font-size: 0.9rem;
  -webkit-transition: font-size 0.2s ease, top 0.2s ease;
  transition: font-size 0.2s ease, top 0.2s ease;
}

section .field label.valid {
  font-size: 0.6rem;
  top: 0.5rem;
}

section .field input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem 0.7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #ffffff;
}

section .field input:focus {
  background-color: #454545;
  outline: none;
}

section .field input:focus + label {
  font-size: 0.6rem;
  top: 0.5rem;
}

section .player-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 0.8rem;
}

section .player-fields .player-one-label {
  position: absolute;
  color: #8c8c8c;
  top: 1.1rem;
  left: 1rem;
  font-size: 0.9rem;
  -webkit-transition: font-size 0.2s ease, top 0.2s ease;
  transition: font-size 0.2s ease, top 0.2s ease;
}

section .player-fields .player-one-label.valid {
  font-size: 0.6rem;
  top: 0.5rem;
}

section .player-fields .player-one-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem 0.7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 0.5rem;
}

section .player-fields .player-one-input:focus {
  background-color: #454545;
  outline: none;
}

section .player-fields .player-one-input:focus + label {
  font-size: 0.6rem;
  top: 0.5rem;
}

section .player-fields .player-two-label {
  position: absolute;
  color: #8c8c8c;
  top: 1.1rem;
  left: 14rem;
  font-size: 0.9rem;
  -webkit-transition: font-size 0.2s ease, top 0.2s ease;
  transition: font-size 0.2s ease, top 0.2s ease;
}

section .player-fields .player-two-label.valid {
  font-size: 0.6rem;
  top: 0.5rem;
}

section .player-fields .player-two-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem 0.7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #ffffff;
}

section .player-fields .player-two-input:focus {
  background-color: #454545;
  outline: none;
}

section .player-fields .player-two-input:focus + label {
  font-size: 0.6rem;
  top: 0.5rem;
  left: 14rem;
}

section .turn {
  text-align: center;
  color: #c58d0c;
}

section .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

section .submit input[type='submit'] {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  padding: 1rem 0;
}

section .submit input[type='submit']:hover {
  cursor: pointer;
}

section .options-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem;
}

section .options-content .list-button {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 1rem 0;
  margin: 0.5rem;
  font-weight: bold;
}

section .options-content .list-button:hover {
  cursor: pointer;
}

section .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0.5rem 0 1.5rem 0;
}

section .actions label,
section .actions a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #8c8c8c;
}

form legend {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}

form .list-button {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 1rem 0;
  margin: 0.5rem;
  font-weight: bold;
}

form .list-button:hover {
  cursor: pointer;
}

form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 0.8rem;
}

form .field label {
  position: absolute;
  color: #8c8c8c;
  top: 1.1rem;
  left: 1rem;
  font-size: 0.9rem;
  -webkit-transition: font-size 0.2s ease, top 0.2s ease;
  transition: font-size 0.2s ease, top 0.2s ease;
}

form .field label.valid {
  font-size: 0.6rem;
  top: 0.5rem;
}

form .field input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem 0.7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #ffffff;
}

form .field input:focus {
  background-color: #454545;
  outline: none;
}

form .field input:focus + label {
  font-size: 0.6rem;
  top: 0.5rem;
}

form .field textarea {
  overflow: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.3rem 1rem 0.7rem 1rem;
  border: none;
  background-color: #454545;
  border-radius: 5px;
  color: #ffffff;
}

form .field textarea:focus {
  background-color: #454545;
  outline: none;
}

form .field textarea:focus + label {
  font-size: 0.6rem;
  top: 0.5rem;
}

form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

form .submit input[type='submit'] {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: .8rem;
  padding: 1rem 0;
}

form .submit input[type='submit']:hover {
  cursor: pointer;
}

form .options-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem;
}

form .options-content .list-button {
  background-color: #E50914;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 1rem 0;
  margin: 0.5rem;
  font-weight: bold;
}

form .options-content .list-button:hover {
  cursor: pointer;
}

form .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0.5rem 0 1.5rem 0;
}

form .actions label,
form .actions a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #8c8c8c;
}

.bottom-content {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .bottom-content {
    padding-bottom: 0;
  }
}

.bottom-content a {
  font-size: 0.8rem;
}

.bottom-content .new-user {
  color: #8c8c8c;
  font-size: 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-content .new-user a {
  color: #8c8c8c;
  font-size: 1rem;
}

.site-footer {
  border-top: 1px solid #8c8c8c;
  padding: 2rem 0 4rem 0;
}

@media (min-width: 768px) {
  .site-footer {
    border-top: unset;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 0 1.5rem 0;
  }
}

@media (min-width: 1200px) {
  .site-footer {
    padding: 1rem 0 10rem 0;
  }
}

@media (min-width: 768px) {
  .site-footer .container {
    max-width: 50%;
  }
}

.site-footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .site-footer .footer-menu {
    max-width: 50%;
  }
}

.site-footer .footer-menu a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 0.8rem;
  margin-right: 2rem;
  padding: 0.5rem 0;
}

.site-footer .footer-menu a:last-of-type {
  margin-right: 0;
}

.site-footer select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.7rem 3rem;
  border: 1px solid #8c8c8c;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #000000;
  color: #8c8c8c;
}

h3 {
  text-decoration: underline;
}

hr {
  position: absolute;
  left: 0px;
  width: 440px;
}

#moveBlancas {
  position: absolute;
  left: 500px;
  top: 120px;
  width: 200px;
}

#moveNegras {
  position: absolute;
  left: 700px;
  top: 120px;
  width: 200px;
}
